<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <title>
        {block name="title"}
            这里是title。
        {/block}
    </title>
    <link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.min.css" type="text/css">
    <script scr="__BOOTSTRAP__/js/bootstrap.min.js" type="text/javascript"></script>
    <script scr="__JS__/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script scr="__JS__/js/angular.min.js" type="text/javascript"></script>
    {block name="css"}

    {/block}
</head>
<body>
    <nav class="nav">
        {block name="nav"}
            这里是nav。
        {/block}
    </nav>

    <div class="content">
        {block name="content"}
            这里是content。
        {/block}
    </div>

    <footer class="footer">
        {block name="footer"}
            这里是footer。
        {/block}
    </footer>

    {block name="js"}

    {/block}
</body>
</html>