<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__HUI__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__HUI__/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__HUI__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__HUI__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__HUI__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__HUI__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__HUI__/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__HUI__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>规则管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 快车规则管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container"  id="app">
        <div>
            <table class="table table-border table-bordered table-hover table-bg">
                <thead>
                    <tr>
                        <th scope="col" colspan="4">
                            快车规则管理
                            <a style="float: right;"  href="javascript:;" v-on:click="save" class="btn btn-warning radius">
                                <i class="Hui-iconfont">&#xe692;</i> 
                                保存
                            </a> 
                        </th>
                    </tr>
                    <tr class="text-c">
                        <th width="40">消费类型</th>
                        <th width="200">消费时间段</th>
                        <th width="200">价格</th>
                        <th width="50">单位</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="text-c" v-for="tr in taxiRule":key="tr.rl_id">
                       
                        <td v-if="tr.rl_price_type=='low'">最低消费</td>
                        
                        <td v-else-if="tr.rl_price_type.substr(0,1)=='d'">里程费</td>
                        
                        <td v-else="tr.rl_price_type.substr(0,1)=='t'">时长费</td>
                        
                        <td>{{tr.rl_name}}</td>
                        <td>
                            <input type="text" v-model="tr.rl_price" value=""  class="input-text radius size-M" onkeyup="javascript:CheckInputIntFloat(this);">
                        </td>

                        <td v-if="tr.rl_price_type=='low'">行程</td>
                        <td v-else-if="tr.rl_price_type.substr(0,1)=='d'">每公里</td>
                        <td v-else="tr.rl_price_type.substr(0,1)=='t'">每分钟</td>
                    </tr>
                       
                </tbody>
                
            </table>
            
        </div>
         
         
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__HUI__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__HUI__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__HUI__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__HUI__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__HUI__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__JS__/vue.js"></script>
<script>
function CheckInputIntFloat(oInput) { 
    if('' != oInput.value.replace(/\d{1,}\.{0,1}\d{0,}/,'')) { 
        oInput.value = oInput.value.match(/\d{1,}\.{0,1}\d{0,}/) == null ? '' :oInput.value.match(/\d{1,}\.{0,1}\d{0,}/); 
    } 
}
var app = new Vue({
  el: '#app',
  data:{
    taxiRule:[]
  },
  methods: {
    show: function () {
        var _self = this;
        $.ajax({
            type: 'POST',
            url: "{:url('admin/Rule/showTaxi')}",
            dataType: 'json',
            data:{},
            success: function(data){
                //console.log(data);
                _self.taxiRule=data;
            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    },
    save: function(){
        var _self = this;
        $.ajax({
            type: 'POST',
            url: "{:url('admin/Rule/saveTaxiRule')}",
            dataType: 'json',
            data:{taxiRule:_self.taxiRule},
            success: function(data){  
                layer.msg('保存成功!',{icon:1,time:1000});
            },
            error:function(data) {
                layer.msg('保存失败，请重试!',{icon:2,time:1000});
            },
        });
    }
  }
})
app.show();
</script>
</body>
</html>