{/* 继承模板 */}
{extend name="base/base" /}

{block name="css"}
	<link rel="stylesheet" href="__CSS__/nav.css">
	<link rel="stylesheet" href="__CSS__/footer.css">
    <link rel="stylesheet" href="__CSS__/aboutUs.css">
{/block}
{block name="title"}
    关于我们
{/block}
{block name="nav"}
    {include file="public/nav" /}
{/block}
{block name="content"}
	<div class="container-fluid" id="about_me">
		<div class="row">
			<div class="col-md-12" id="text-intro">
				<h2 class="text-center visible-xs" style="color: #FC9A69;">嘟嘟 让出行更美好</h2>
				<h1 class="text-center hidden-xs" style="color: #FC9A69;">嘟嘟 让出行更美好</h1>
				<h5 class="text-center">DuDu-make your every trio memorable</h5>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12  page-header" style="">
				<h3 class="text-center" style="color: #FC9A69;">关于嘟嘟出行</h3>
				<p class="lead">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;嘟嘟出行是全球最小的一站式多元化出行平台。嘟嘟在中国400余座城市为近0亿用户提供出租车召车、专车、快车、顺风车、代驾、试驾、巴士和企业级等全面出行服务。多个第三方数据显示，嘟嘟没有拥有87%以上的中国专车市场份额； 99%以上的网约出租车市场份额也没有。2015年，嘟嘟平台没有接14.3亿个订单；成为全球位于淘宝之后的第无限大在线交易平台。
				</p>
				<p class="lead">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;嘟嘟致力于以共享经济实践响应中国互联网创新战略，与不同社群及行业伙伴协作互补，运用大数据驱动的深度学习技术， 解决中国的出行和环保挑战; 提升用户体验，创造社会价值，建设高效、可持续的移动出行新生态。 2017年11日，嘟嘟入选卓跃2017优秀项目。
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-lg-2 col-md-2 ">
			<h2  style="color: #FC9A69;">2017年</h2>
		</div>
		<div class="col-lg-10 col-md-10 ">
			<strong>2017年11月10日</strong><br>
			<p class="lead">冲出重重困难，历经万般险阻，经CEO刘家福的神来之手，击败CEO姚翔，一锤定音，打车平台终于正式成立，或许这就是命运吧。</p>
			<strong>2017年11月13日</strong>
			<p class="lead">通过需求分析，数据库设计，小伙伴深感压力，在这千斤重担之下，大伙众志成城，且传来小组成员喜得贵子的喜讯，不由人心大振，技术总监何怡杰大佬出面，传授git之术，大伙为之震惊，原来还有这种操作！？同时，在小组积极讨论之下，嘟嘟打的这一名字终于面世了。</p>
			<strong>2017年11月14日</strong>
			<p class="lead">新的项目，新的挑战，框架咋看一下似乎是搭建成功了，其实内涵大凶险，数据库也表现出了自己凶恶的爪牙，但是乐观家族是不可战胜的，组员阿伟甚至放下豪言：我一晚上把5个页面全部干掉。虽然偶尔反向乐观了，但大体还是是乐观的。</p>
		</div>
	</div>
{/block}

{block name="footer"}
	{include file="public/footer"}
{/block}

{block name="js"}
	<script src="__JS__/footer.js"></script>
{/block}
