{/* 继承模板 */}
{extend name="base/base" /}

{block name="css"}
	<link rel="stylesheet" href="__CSS__/nav.css">
	<link rel="stylesheet" href="__CSS__/footer.css">
    <link rel="stylesheet" href="__CSS__/aboutUs.css">
{/block}
{block name="title"}
    关于我们
{/block}
{block name="nav"}
    {include file="public/nav" /}
{/block}
{block name="content"}
	<div class="container-fluid" id="about_me">
		<div class="row">
			<div class="col-md-12" id="text-intro">
				<h2 class="text-center visible-xs" style="color: #FC9A69;">嘟嘟 让出行更美好</h2>
				<h1 class="text-center hidden-xs" style="color: #FC9A69;">嘟嘟 让出行更美好</h1>
				<h5 class="text-center">DuDu-make your every trio memorable</h5>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12  page-header" style="">
				<h3 class="text-center" style="color: #FC9A69;">关于嘟嘟出行</h3>
				<p class="lead">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;嘟嘟出行是全球最新的一站式多元化出行平台。嘟嘟在中国为用户提供。多个第三方数据显示，嘟嘟出行平台的用户以及入驻司机数量都呈现稳步上升的趋势，订单数量也在朝着良性发展的方向前行。据估计，到2018年，嘟嘟将有望成为打车行业的新领头羊。
				</p>
				<p class="lead">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;嘟嘟致力于以共享经济实践响应中国互联网创新战略，与不同社群及行业伙伴协作互补，运用大数据驱动的深度学习技术， 解决中国的出行和环保挑战; 提升用户体验，创造社会价值，建设高效、可持续的移动出行新生态。 2017年12日，嘟嘟入选卓跃2017优秀项目。
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-lg-2 col-md-2 ">
			<h2 style="color: #FC9A69;">2017年11月</h2>
		</div>
		<div class="col-lg-10 col-md-10 ">
			<strong>10日</strong>
			<br>
			<p class="lead">经CEO刘家福的神来之手，一锤定音，小组抽中打车项目，正式拉开了最后阶段项目的帷幕。</p>
			<strong>13日</strong>
			<p class="lead">小组内通过了整个项目的需求分析，对数据库的架构进行了初步的设计；拟定github作为这次项目的版本管理工具；最后，对小组项目的分工与配合也作了初步的规划。</p>
			<strong>14日</strong>
			<p class="lead">开始搭建thinkphp的框架，同时开始对前台嘟嘟出行网站的代码编写工作。</p>
			<strong>16日</strong>
			<p class="lead">结束前台页面的代码编写工作，开始搭建管理后台的框架，使用h-ui作为后台的样式模板框架，正式开始后台管理系统的代码编写工作。</p>
			<strong>19日</strong>
			<p class="lead">搭建阿里云云服务器，将嘟嘟出行项目发布到云端。</p>
			<strong>20日</strong>
			<p class="lead">结束后台管理系统一阶段代码的编写，开始学习并编写微信小程序。</p>
			<strong>29日</strong>
			<p class="lead">小程序打车流程基本完成，开始着手微信小程序的功能完善；同时，也开始了后台管理系统二阶段的功能代码编写。</p>
		</div>
	</div>
	<div class="container">
		<div class="col-lg-10 col-md-10 ">
			<strong>1日</strong>
			<br>
			<p class="lead">项目进入尾声，小组进入了整个项目最后的完善工作。</p>
			<strong>4日</strong>
			<p class="lead">开始评审PPT及其它材料的编写。</p>
		</div>
		<div class="col-lg-2 col-md-2 ">
			<h2 style="color: #FC9A69;">2017年12月</h2>
		</div>
	</div>
{/block}

{block name="footer"}
	{include file="public/footer"}
{/block}

{block name="js"}
	<script src="__JS__/footer.js"></script>
{/block}
