{/* 继承模板 */}
{extend name="base/base" /}

{block name="css"}

{/block}


{block name="title"}
    嘟嘟打车
{/block}

{block name="nav"}
    {include file="public/nav" /}
{/block}

{block name="content"}
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    v
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
    <h1>salfjasdlf</h1>
    <h2>fasljdlakjsdf</h2>
{/block}

{block name="footer"}
     {include file="public/footer" /}
{/block}

{block name="js"}
    
{/block}