{/* 继承模板 */}
{extend name="base/base" /}

{block name="css"}
    <link rel="stylesheet" href="__CSS__/nav.css">
    <link rel="stylesheet" href="__CSS__/footer.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__FULLPAGE__/jquery.fullPage.css">
    <link rel="stylesheet" href="__CSS__/chat.css">
{/block}


{block name="title"}
    嘟嘟打车
{/block}

{block name="nav"}
    {include file="public/nav" /}
{/block}

<body>
    {block name="content"}
    <iframe></iframe>
    <div class="chat">
        <a href="javascript:void(0);" onclick="openChat()" class="chat-a">
            <span class="kf-icon"></span>
            <p>
                在线<br/>
                客服
            </p>
        </a>

    </div>
        <div id="ljf">
            <div class="main">
                <div class="section">
                    <div class="banner" style="max-height: 100%;">
                        <div class="slide active" style="background-image: url(__IMG__/ljf/index/banner1.jpg);">
                            <img src="__IMG__/ljf/index/banner1-word.png" style="top: 10%;left: 5%;">
                        </div>
                        <div class="slide" style="background-image: url(__IMG__/ljf/index/banner2.jpg);">
                            <img src="__IMG__/ljf/index/banner2-word.png" style="top: 10%;right: 5%;">
                        </div>
                        <div class="slide" style="background-image: url(__IMG__/ljf/index/banner3.jpg);">
                            <img src="__IMG__/ljf/index/banner3-word.png" style="top: 18%;left: 15%;">
                        </div>
                        <div class="slide" style="background-image: url(__IMG__/ljf/index/banner4.jpg);"></div>
                    </div>
                </div>
                <div class="section">
                    <div class="client client-driver">
                        <div class="client-bg" style="background-image: url(__IMG__/ljf/index/driver_big.jpg);"></div>
                        <div class="content clearfix">
                            <div class="box">
                                <div class="box-title">
                                    <span class="h3" style="margin-bottom: 0;">司机招募</span>
                                    <hr>
                                </div>
                                <ul class="clearfix">
                                    <li>
                                        <div class="top">
                                            <img class="img-responsive" src="__IMG__/ljf/index/driver_recruit_icon_01.png">
                                        </div>
                                        <div class="bottom">工作轻松自由</div>
                                    </li>
                                    <hr>
                                    <li>
                                        <div class="top">
                                            <img class="img-responsive" src="__IMG__/ljf/index/driver_recruit_icon_02.png">
                                        </div>
                                        <div class="bottom">额外收入更高</div>
                                    </li>
                                    <hr>
                                    <li>
                                        <div class="top">
                                            <img class="img-responsive" src="__IMG__/ljf/index/driver_recruit_icon_03.png">
                                        </div>
                                        <div class="bottom">结算简单快捷</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="client client-passenger">
                        <div class="client-bg" style="background-image: url(__IMG__/ljf/index/passenger_big.jpg);"></div>
                        <div class="content clearfix">
                            <div class="box">
                                <div class="box-title">
                                    <span class="h3" style="margin-bottom: 0;">轻松叫车</span>
                                    <hr>
                                </div>
                                <ul class="clearfix">
                                    <li>
                                        <div class="top">
                                            <img class="img-responsive" src="__IMG__/ljf/index/passenger_icon01.png">
                                        </div>
                                        <div class="bottom">多姿出行 别致体验</div>
                                    </li>
                                    <hr>
                                    <li>
                                        <div class="top">
                                            <img class="img-responsive" src="__IMG__/ljf/index/passenger_icon02.png">
                                        </div>
                                        <div class="bottom">指尖一动 轻松叫车</div>
                                    </li>
                                    <hr>
                                    <li>
                                        <div class="top">
                                            <img class="img-responsive" src="__IMG__/ljf/index/passenger_icon03.png">
                                        </div>
                                        <div class="bottom">分秒应答 马上接驾</div>
                                    </li>
                                    <hr>
                                    <li>
                                        <div class="top">
                                            <img class="img-responsive" src="__IMG__/ljf/index/passenger_icon04.png">
                                        </div>
                                        <div class="bottom">安全支付 无需付现</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="news">
                        <div class="title">
                            <h2>新闻资讯</h2>
                            <hr>
                        </div>
                        <div class="news-slider">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                	{volist name='list' id='vle' key='k'}
                                	{if condition="$k==1"}
                                    <div class="item clearfix active">
                                    {else /}
                                    <div class="item clearfix ">
                                    {/if}
                                        <div class="item-left pull-left">
                                            <img src="__IMG__{$vle.news_img}">
                                        </div>
                                        <div class="item-right pull-left">
                                            <h3 class="news-title">{$vle.news_title}</h3>
                                            <p class="news-detail">{$vle.news_content}</p>
                                        </div>
                                    </div>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <footer class="container-fluid backgroundF9FAFB">
                        <div class="row paddingTB60 borderBottomE4E4E4">
                            <div class="col-sm-4 marginB30">
                                <img src="__IMG__/hyj/logo-804-300.png" class="img50 center-block">
                            </div>
                            <div class="col-sm-2 marginB30">
                                <h4 class="text-center">客服中心</h4>
                            </div>
                            <div class="col-sm-2 marginB30">
                                <h5 class="text-center">乘客客服热线：</h5>
                                <h5 class="text-center">15959027027</h5>
                            </div>
                            <div class="col-sm-2 marginB30">
                                <h5 class="text-center">出租司机客服热线：</h5>
                                <h5 class="text-center">15959027027</h5>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="text-center">快车司机客服热线：</h5>
                                <h5 class="text-center">15959027027</h5>
                            </div>
                        </div>
                        <div id="download" class="row hidden-xs">
                            <div class="col-sm-12">
                                <h5 class="hidden-xs clearfix" style="padding-left: 5%;padding-top: 1%;">客户端下载</h5>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                                    <p style="margin-left: 0px; line-height: 20px;">司机端</p>
                                    <img src="__IMG__/hyj/driver.png" class="min_ewm" alt="滴滴出行" style="display: inline-block;">
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                                    <p style="margin-left: 0px; line-height: 20px;">乘客端</p>
                                    <img src="__IMG__/hyj/user.png" class="max_ewm" alt="滴滴出行" style="display: inline-block;">
                                </div>
                            </div>
                            <div class="col-sm-12 hidden-xs">
                                <h5 style="padding-left: 5%;padding-top: 1%;">关注我们</h5>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                                    <p style="margin-left: 0px; line-height: 20px;">微信号</p>
                                    <img src="__IMG__/hyj/weixin.png" class="max_ewm" alt="滴滴出行" style="display: inline-block;">
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                                    <p style="margin-left: 0px; line-height: 20px;">新浪微博</p>
                                    <img src="__IMG__/hyj/weibo.png" class="max_ewm" alt="滴滴出行" style="display: inline-block;">
                                </div>
                            </div>
                        </div>
                        <div class="row paddingTB60 borderBottomE4E4E4 visible-xs">
                            <div class="col-xs-6">
                                <h5 class="text-center">微信号</h5>
                                <img class="img-responsive center-block" src="__IMG__/hyj/erweima.png">
                            </div>
                            <div class="col-xs-6">
                                <h5 class="text-center">微博</h5>
                                <img class="img-responsive center-block" src="__IMG__/hyj/erweima.png">
                            </div>
                        </div>
                        <div class="row paddingTB60 borderBottomE4E4E4">
                            <div class="col-xs-12">
                                <h6 class="text-center">©CopyRight</h6>
                                <h6 class="text-center">2017 嘟嘟出行科技有限公司 津ICP备12345678号-0 津公网安备 1201000000000号</h6>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    	</div>
    {/block}
    {block name="footer"}
    <div></div>
    {/block}
</body>

{block name="js"}
    <script type="text/javascript" src="__FULLPAGE__/jquery.fullPage.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
    <script type="text/javascript" src="__JS__/footer.js"></script>
    <script type="text/javascript" src="__JS__/chat.js"></script>
{/block}