<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__HUI__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__HUI__/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__HUI__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__HUI__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__HUI__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__HUI__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__HUI__/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__HUI__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>员工管理</title>
    <style>
        .mt-20{
            margin-top: 30px;
        }
    </style>
</head>
    <body>
        <nav class="breadcrumb">
            <i class="Hui-iconfont">&#xe67f;</i> 首页
            <span class="c-gray en">&gt;</span> 管理员管理
            <span class="c-gray en">&gt;</span> 员工管理
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
                <i class="Hui-iconfont">&#xe68f;</i>
            </a>
        </nav>
        <div class="page-container">
            <form id="emp-conditions" class="text-c"> 注册时间范围：
                <input type="text" onfocus="WdatePicker()" id="datemin" name="datemin" class="input-text Wdate" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker()" id="datemax" name="datemax" class="input-text Wdate" style="width:120px;">
                <input type="text" class="input-text" name="phone" style="width:250px" placeholder="输入姓名或昵称关键字" >
                <button type="button" class="btn btn-success radius" name="search-emp"><i class="Hui-iconfont">&#xe665;</i> 搜员工</button>
            </form>
            <div class="cl pd-5 bg-1 bk-gray mt-20" style="position: relative;">
                <span class="l">
                    <a href="javascript:;" onclick="dataunlock(this)" class="btn btn-success radius"><i class="Hui-iconfont">&#xe605;</i> 批量解锁</a>
                    <a href="javascript:;" onclick="datalock(this)" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe60e;</i> 批量锁定</a>
                </span>
            <div class="changePageSize" style="position: absolute;top: 40px;left: 0;">
                <span style="margin-left: 10px;">显示</span>
                <select class="pageSize">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span>条</span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" class="all-check" name="" value=""></th>
                            <th width="80">ID</th>
                            <th width="100">用户名</th>
                            <th width="100">角色</th>
                            <th width="40">所属省</th>
                            <th width="50">所属市</th>
                            <th width="80">所属区域</th>
                            <th width="70">锁定状态</th>
                            <th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="value"}
                            <tr class="text-c">
                                <td><input type="checkbox" value="{$value.emp_id}" name=""></td>
                                <td>{$value.emp_id}</td>
                                <td><u style="cursor:pointer" class="text-primary" onclick="member_show('{$value.emp_name}','{$value.emp_id}',360,600)">{$value.emp_name}</u></td>
                                <td>{$value.role_name}</td>
                                <td>{$value.prov_name}</td>
                                <td>{$value.city_name}</td>
                                <td>{$value.area_name}</td>
                                <td class="td-status">
                                    {switch $value.emp_status}
                                    {case 锁定}
                                        <span class="label label-defaunt radius">{$value.emp_status}</span>
                                    {/case}
                                    {default /}<span class="label label-success radius">{$value.emp_status}</span>
                                    {/switch}
                                </td>
                                <td class="td-manage">
                                    <!--超级管理员不能被锁定-->
                                    {if condition="$value.role_id != 1"}
                                        {if condition="$value.emp_status === '锁定'"}
                                            <a style="text-decoration:none" onClick="member_start(this,'{$value.emp_id}')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>
                                        {else /}
                                            <a style="text-decoration:none" onClick="member_stop(this,'{$value.emp_id}')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
                                        {/if}
                                    {/if}
                                    <a title="编辑" href="javascript:;" onclick="member_edit('编辑','{$value.emp_id}','360','700')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                    <a title="删除" href="javascript:;" onclick="member_del(this,'{$value.emp_id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                </td>
                            </tr>
                        {/volist}
                    </tbody>
                </table>
                <div class="my-pager">
                    {$list->render()}
                </div>
            </div>
        </div>
        </div>
    </body>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__HUI__/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="__HUI__/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__HUI__/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__HUI__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__HUI__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__HUI__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__HUI__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        function savePoint() {
            $.ajax({
                url:'{:url("miniapp/TestPoint/index")}',
                type:'post',
                data:{pointArr:JSON.stringify([{lo:110,la:10},{lo:111,la:11},{lo:112,la:12}])},
                dataType:'text',
                success:function (responseData){
                    console.log(responseData);
                },
                error:function (responseData){
                    console.log(responseData);
                }
            });
        };
        var checkArr = [];

        function getCheckVal() {
            checkArr = [];
            var $checkbox = $("input:checked").not('.all-check');
            for (var i = 0; i < $checkbox.length; i++) {
                checkArr.push($checkbox.eq(i).val());
            }
            return checkArr;
        }

        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "asc" ]],//默认第几个排序
            "bStateSave": false,//状态保存
            "aoColumnDefs": [
                {"orderable":false,"aTargets":[0, 6, 7, 8]}// 制定列不参与排序
            ],
            info: false,
            paging: false
        });

        //返回拼接的查询条件
        function searchData(w) {
            var $dateMinNode = $('#datemin');
            var $dateMaxNode = $('#datemax');
            var $keywordNode = $('[name="phone"]');
            //日期条件
            var dateMinVal = $dateMinNode.val();
            var dateMaxVal = $dateMaxNode.val();

            //关键字条件
            var keywordArr = unique($keywordNode.val().replace(/\s+/g,' ').split(' ')); //过滤关键字的空格和重复部分
            var keywordVal = keywordArr.join('@');
            var condition = w;
            condition += dateMinVal?'dateMin='+dateMinVal+'&':'';
            condition += dateMaxVal?'dateMax='+dateMaxVal+'&':'';
            condition += keywordVal?'keyword='+keywordVal:'';
            return condition;
        }

        //设置查询条件
        function setSearchData() {
            var $dateMinNode = $('#datemin');
            var $dateMaxNode = $('#datemax');
            var $keywordNode = $('[name="phone"]');
            //选择每页显示条数
            var $pageSizeNode = $('.pageSize');
            var options = $pageSizeNode.children();
            $pageSizeNode.change(function (e) {
                e.stopPropagation();
                window.location.href = '{:url("admin/employee/lists")}?pageSize=' + $pageSizeNode.val();
            });
            var $pageBtn = $('.my-pager a');
            $pageBtn.click(function (e) {
                e.stopPropagation();
                window.location.href = '{:url("admin/employee/lists")}?pageSize=' + $pageSizeNode.val();
            });

            //将下拉框最新条件选中
            var nowPageSize = '{$pageSize}';
            for (var i = 0; i < options.length; i++) {
                if (options.eq(i).attr('value') === nowPageSize) {
                    options.eq(i).attr('selected',true);
                    break;
                }
            }

            //将日期填入
            $dateMinNode.val('{$dateMin}');
            $dateMaxNode.val('{$dateMax}');
            //将关键字填入
            keywordVal = '{$keyword}'.replace('@',' ');
            $keywordNode.val(keywordVal);
        }

        //按条件显示用户列表
        function getEmpByconditions() {
            //搜索按钮
            var $searchBtn = $('[name="search-emp"]');

            $searchBtn.click(function (e) {
                e.stopPropagation();
                window.location.href = '{:url("admin/employee/lists")}' + searchData('?');
            });

            //点击翻页时
            $('.pagination li a').click(function (e) {
                e.stopPropagation();
                var $this = $(this);
                var url = $this.attr('href');
                $this.attr('href',url+searchData('&'));
            });

            setSearchData();

        }
        getEmpByconditions();

        /*用户-查看*/
        function member_show(title,id,w,h) {
            var url = "{:url('admin/employee/details')}?id=" + id;
            layer_show(title,url,w,h);
        }

        /*用户-停用*/
        function member_stop(obj,id) {
            layer.confirm('确认要停用吗？',function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('admin/employee/lock')}?id=" + id,
                    dataType: 'json',
                    success: function(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">锁定</span>');
                        $(obj).remove();
                        layer.msg('已停用!',{icon: 5,time:1000});
                    },
                    error:function(data) {
                        console.log(data.msg);
                    }
                });
            });
        }

        /*用户-启用*/
        function member_start(obj,id) {
            layer.confirm('确认要启用吗？',function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('admin/employee/unlock')}?id=" + id,
                    dataType: 'json',
                    success: function(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">使用</span>');
                        $(obj).remove();
                        layer.msg('已启用!',{icon: 6,time:1000});
                    },
                    error:function(data) {
                        console.log(data.msg);
                    },
                });
            });
        }
        /*用户-编辑*/
        function member_edit(title,id,w,h) {
            var url = "{:url('admin/employee/add')}?id=" + id;
            layer_show(title,url,w,h);
        }

        /*用户-删除*/
        function member_del(obj,id) {
            layer.confirm('确认要删除吗？',function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('admin/employee/delete')}?id=" + id,
                    dataType: 'json',
                    success: function(data){
                        if (data) {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!',{icon:1,time:1000});

                            if ($('.table tbody tr').length === 0) {
                                var pageSize = parseInt('{$pageSize}');
                                var total = parseInt('{$list->total()}');
                                var nowPage = parseInt('{$list->currentPage()}');
                                if (nowPage*pageSize <= pageSize) {
                                    return;
                                } else if (nowPage*pageSize < total) {
                                    location.href = '/duduchuxing/public/admin/employee/lists.html?page=' + nowPage;
                                } else {
                                    location.href = '/duduchuxing/public/admin/employee/lists.html?page=' + (nowPage - 1);
                                }
                            }
                        } else {
                            alert('删除失败，请联系管理员！');
                            layer.closeAll();
                        }
                    },
                    error:function(data) {
                        console.log(data.msg);
                    }
                });
            });
        }


        //批量锁定
        function datalock (node) {
            layer.confirm('确认要批量锁定吗？',function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('admin/employee/lockAll')}",
                    dataType: 'json',
                    data: {checkArr: JSON.stringify(getCheckVal())},
                    success: function(data){
                        var $allCheckbox = $('[type="checkbox"]');
                        var $checkbox_child = $allCheckbox.not('.all-check');
                        for (var i = 0; i < $checkbox_child.length; i++) {
                            for (var j = 0; j < data.length; j++) {
                                if ($checkbox_child.eq(i).val() === data[j]) {
                                    layer.msg('已批量停用!',{icon: 5,time:1000});
                                    $checkbox_child.eq(i).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                                    $checkbox_child.eq(i).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">锁定</span>');
                                    $checkbox_child.eq(i).parents("tr").find('[title="停用"]').remove();
                                }
                            }
                        }
                    },
                    error:function(data) {
                        console.log(data.msg);
                    }
                });
            });
        }

        //批量解锁
        function dataunlock (node) {
            layer.confirm('确认要批量锁定吗？',function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('admin/employee/unlockAll')}",
                    dataType: 'json',
                    data: {checkArr: JSON.stringify(getCheckVal())},
                    success: function(data){
                        var $allCheckbox = $('[type="checkbox"]');
                        var $checkbox_child = $allCheckbox.not('.all-check');
                        for (var i = 0; i < $checkbox_child.length; i++) {
                            for (var j = 0; j < data.length; j++) {
                                if ($checkbox_child.eq(i).val() === data[j]) {
                                    layer.msg('已批量启用!',{icon: 6,time:1000});
                                    $checkbox_child.eq(i).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                                    $checkbox_child.eq(i).parents("tr").find(".td-status").html('<span class="label label-success radius">使用</span>');
                                    $checkbox_child.eq(i).parents("tr").find('[title="启用"]').remove();
                                }
                            }
                        }
                    },
                    error:function(data) {
                        console.log(data.msg);
                    }
                });
            });
        }

        //checkbox二级联动
        function checkChange() {
            var $allCheckbox = $('[type="checkbox"]');
            var $checkbox_child = $allCheckbox.not('.all-check');
            var $checkbox_parent = $('.all-check');
            $checkbox_parent.off('change').change(function (e) {
                e.stopPropagation();
                if ($(this).prop('checked')) {
                    $checkbox_child.prop('checked',true);
                } else {
                    $checkbox_child.prop('checked',false);
                }
            });
            $checkbox_child.off('change').change(function (e) {
                e.stopPropagation();
                var bool = true;
                for (var i = 0; i < $checkbox_child.length; i++) {
                    if(!$checkbox_child.eq(i).prop('checked')) {
                        bool = false;
                    }
                }
                if (bool) {
                    $('.all-check').prop('checked',true);
                } else {
                    $('.all-check').prop('checked',false);
                }
            });
        }
        checkChange();

        //数组去重
        function unique(arr){
            var tmp=[];
            for(var i in arr){
                if(tmp.indexOf(arr[i]) === -1){
                    tmp.push(arr[i]);
                }
            }
            return tmp;
        }
    </script>
</html>