<nav class="navbar navbar-default navbar-fixed-top navbar-default-du">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-header-du">
            <button type="button" class="navbar-toggle collapsed navbar-toggle-du" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-du" href="{:url('index/Index/index')}">
                <img src="__IMG__/hyj/logo-804-300.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-collapse-du" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-du">
                <li>
                    <a href="{:url('index/Index/index')}">首页</a>
                </li>
                <li>
                    <a href="{:url('index/Index/taxi')}">出租车</a>
                </li>
                <li>
                    <a href="{:url('index/Index/privateTaxi')}">快车</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-du">
                <li class="dropdown dropdown-du">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于嘟嘟  <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-du">
                        <li>
                            <a href="{:url('index/Index/aboutUs')}">-关于我们</a>
                        </li>
                        <li>
                            <a href="{:url('index/Index/contactUs')}">-联系我们</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>